.col {
	border: 1px solid black;
	color: transparent;
	padding: 0;
}

h1 {
	text-align : center;
	font-size: 3.5rem;
}

#board {
	margin: 4em auto 0.5em auto;
    	padding: 0 4em 0 4em;
	width: 58em;
}

#buttons {
	
}

#left-button {
	float: right;
	text-align: right;
	padding: 1em;
}

#right-button {
	float: left;
	padding: 1em;
}

#centre-button {
	text-align: center;
	padding: 1em;
}
